* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: gainsboro;
}

.container {
  gap: 1rem;
  justify-content: center;
  margin: 2rem auto;
  width: 30%;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.user-body {
  gap: 4rem;
  height: 100px;
  padding: 0.4rem;
  width: auto;
  align-items: center;
}

.user-body img {
  border: 1px solid rgb(11, 9, 9);
  width: 30%;
  height: 80px;
  border-radius: 4px;
}

.user-content {
  border: 1px solid rgb(10, 11, 10);
  justify-content: space-between;
  padding: 1rem;
  width: 70%;
  border-radius: 5px;
}

.user-content h2 {
  font-size: 1.3rem;
}

.user-content p {
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(80, 73, 73);
}

.user-container {
  border: 1px solid rgb(92, 84, 84);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.8rem;
  width: 40%;
  margin: 2rem auto;
  height: auto;
}

.user-image-name {
  padding: 0.3rem;
  align-items: center;
  gap: 3rem;
}

.user-image-name img {
  border: 1px solid rgb(11, 9, 9);
  width: 30%;
  height: 80px;
  border-radius: 4px;
}

.bio-div {
  padding: 0.4rem;
  gap: 0.6rem;
  border: 1px solid rgb(92, 84, 84);
}

.posts {
  padding: 0.6rem;
  gap: 0.5rem;
}

.post {
  border: 1px solid rgb(92, 84, 84);
  padding: 0.5rem;
}

.comments-likes {
  justify-content: flex-end;
  gap: 1rem;
}

button {
  width: 30%;
  padding: 8px 11px;
  margin-left: 12rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(70, 70, 179);
  color: #fff;
}

.btn {
  color: #fff;
}

.comments {
  gap: 0.5rem;
}

.my-posts {
  gap: 0.6rem;
}

.my-post {
  border: 1px solid rgb(56, 52, 52);
  padding: 0.5rem;
}

.post-title {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.direction {
  flex-direction: column;
}

.add-comment {
  color: #fff;
}
